html{
    scroll-behavior: smooth;
}
body {
    background-image: url("Background.gif");
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
}
.Topleiste{
    display:grid;
}

.Leiste1 #box1 {
    position:realtive;
    margin-top: 0px;
    margin-left: 0px; 
    margin-right: 0px;  
    background-color: rgba(12, 13, 68, 0.986);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-style: ridge;
    height: 30px;
    width: 100%;
}
.Leiste1 > .navigatorrechts{
    display: inline;
    list-style: none; 
}

.navigatorrechts {
    position: absolute;
    right: 20px;
    top: 5px;
}
    #suche {
        width: 12em;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 0.5em;
        border-style: hidden;
        font-size: 1.2em;
        transition: width 0.5s ease-in-out;
    }
    
    #suche:focus {
        font-size: 1.5em;
        width: 100%;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 0.5em;
        border-style: hidden;
        font-size: 1.2em;
        transition: width 0.5s ease-out;

    }
    .Leiste1> .linkeseite {
        display: inline;
        list-style: none; 
    }
    .linkeseite {
        position: absolute;
        left: 20px;
        top: 5px;
    }
    .linkeseite p{
        text-decoration: none;
        color: white;
        font-size: 15px; 
        margin-top: 0px;
    }
    .Leiste{
        display:grid;
    }
    
    .Leiste1 + .Leiste>#box {
        position: relative;
        margin-top: 0px;
        margin-left: 0px; 
        margin-right: 0px;  
        background-color: rgb(10, 0, 44);
        border-bottom-color: whitesmoke;
        border-bottom-width: 100%;
        height: 150px;
        width: 100%;
        opacity: 0,6;
    }
    img[alt=Warenkorb]{
        position: absolute;
        top: 110px; 
        right: 135px; 
        width:70px;
    }
    
    #warenkorb:hover{
        opacity: 0.5;
    }
    
    #home{
        position: absolute;
        top: 115px; 
        right: 70px; 
        width:80px;
    }
    
    #home:hover{
        opacity: 0.5;
    }
    
    #menue img{
        position: absolute;
        top: 100px; 
        right: 0px; 
        width:95px;
    }
    
    .inhalt{
        display: none;
        position: absolute;
        right: 0px;
        background-color: rgba(19, 19, 19);
        width: 200px;
    }
    
    .inhalt a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    
      }
    
    #menue:hover .inhalt {
          display: block;
        }
    
    #menue:hover{
            opacity: 0.7;
        }

        #logo{
            position: absolute;
            top: 40px;
            left: 20px;
            width: 150px;
            height: 150px;
        }
    
    .container_ueberschrift{
        display: grid;
        justify-content: center;
        grid-gap: 30px 5px;
    }
    
    .container_ueberschrift div{
        background-color: rgba(255, 255, 255, 0.9);
        border-color: royalblue;
        border-style: groove;
        font: caption;
        font-family: cursive;
        width: 400px;
        height: 80px;
        padding: 20px 20px 20px 20px; 
        text-align: center;
        margin-bottom: 10px;
        border-radius: 20px;
        margin-left: 20px;
        margin-top: 50px;
    }
    
.container{
    width: 400px;
    height: 500px;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: center;
}

.container img{
    height: 200px;
    width: 200px;
}

.container div{
    display: block;
    background-color: rgba(187, 187, 187, 0.9);
    width: 400px;
    height: 500px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
}

.container div:hover{
    background-color: white;
}

.container p{
    font-size:12px;
}


button {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);;
        border-radius: 5px;
        border-color: rgb(0, 0, 0);
        padding: 5px 5px 5px 5px;
    }
