html{
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-image: url(wallpaper.jpg);
    font-family: sans-serif;
    margin:0px;
    padding:0px;
}

    .Leiste{
        display:grid;
    }

.Leiste1 #box1 {
    position: fixed;
    margin-top: 0px;
    margin-left: 0px; 
    margin-right: 0px;  
    background-color: rgba(25, 0, 138, 0.568);
    border-bottom-style: groove;
    border-bottom-width: medium;
    border-bottom-color: blanchedalmond;
    height: 30px;
    width: 100%;
}
#warenkorbWert>p{
    float: right;
    margin-top: 400px;
}
#delButton{
    float: right;
    margin-right: 30px;
    margin-top: 0px;
    cursor: pointer;
}
.content-area{
    width: 100%;
    position: relative;
    top: 80px;
    height: 1500px;
}
.content-area h1{
    font-family: monospace;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 30px;
    margin: 0; 
    margin-left: 10px;
}
.content-area h2{
    font-family: monospace;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 30px;
    margin: 0; 
    margin-left: 10px;
}
.content-area p{
    padding: 2% 0;
    font-family: merienda;
    line-height: 30px;
}
.products{
    display: flex;
    flex-wrap: wrap;
}
.products div{
    margin-bottom: 25px;
    text-align: center;
    float: left;
    width: 30%;
    padding: 20px;
    padding-top: 20px;
}

.products div img{
    height: 350px;
    width: 350px;
}

.products div img:hover{
    opacity: 70%;
}

.products input{
    width: 150px;
    margin: 5px;
    border-radius: 3px;
}

.products input:hover{
    opacity: 70%;
}

.products div p{
    font-family: merienda;
    margin-top: 0px;
}

.Leiste1 > .navigatorrechts{
    display: inline;
    list-style: none; 
}

.navigatorrechts {
    position: fixed;
    right: 20px;
    top: 5px;
}
    #suche {
        width: 10em;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 0.5em;
        border-style: hidden;
        font-size: 1.2em;
        transition: width 0.5s ease-in-out;
    }
    
    #suche:focus {
        font-size: 1.5em;
        width: 100%;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 0.5em;
        border-style: hidden;
        font-size: 1.2em;
        transition: width 0.5s ease-out;
    }

.navigatorlinks *{
    display: inline;
    position: fixed;
    left: 20px;
    top: 5px;
}

.navigatorlinks p{
    text-decoration: none;
    color: white;
    font-size: 15px; 
    margin-top: 0px;
}

.Leiste{
    display:grid;
}

.Leiste1 + .Leiste>#box {
    position: static;
    margin-top: 0px;
    margin-left: 0px; 
    margin-right: 0px;  
    background-color: rgba(105, 3, 145, 0.473);
    height: 180px;
    width: 100%;
}
#allButton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
#stripeButton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
#figurButton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
#schildButton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
#textButton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
#logo{
    position: absolute;
    top: 35px;
    left: 0px;
    width: 200px;
    height: 200px;
}


img[alt=Warenkorb]{
    position: fixed;
    top: 110px; 
    right: 135px; 
    width:70px;
}
#warencounter{
    position: fixed;
    margin-left: 90%;
    margin-top: 7%;
    width: 15px;
    border-radius: 10%;
    font-size: 15px;
    color: white;
    height: 15px;
}

#warenkorb:hover{
    opacity: 0.5;
}


#home{
    position: fixed;
    top: 115px; 
    right: 70px; 
    width:80px;
}

#home:hover{
    opacity: 0.5;
}

#menue img{
    position: fixed;
    top: 100px; 
    right: 0px; 
    width:95px;
}

.inhalt{
    display: none;
    position: fixed;
    right: 0px;
    background-color: rgba(19, 19, 19);
    width: 200px;
}

.inhalt a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }

#menue:hover .inhalt {
      display: block;
    }

#menue:hover{
        opacity: 0.7;
    }

button {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);;
        border-radius: 5px;
        border-color: rgb(0, 0, 0);
        padding: 5px 5px 5px 5px;
    }

@media screen and (min-width: 600px) and (max-width: 1024px){

    
    .Leiste1 #box1 {
        height: 25px;
    }
    
    .navigatorrechts {
        top: 3px;
    }
    
    .navigatorrechts a{
        font-size: 12px; 
    }
    
    
    .navigatorlinks *{
        top: 5.5px;
    }
    
    .navigatorlinks p{
        font-size: 12px; 
    }
    

    .Leiste1 + .Leiste>#box { 
        height: 130px;
    }
    
    #logo{
        top:5px;
        width: 240px;
    }
    
    
    img[alt=Warenkorb]{
        top: 80px; 
        right: 95px; 
        width:52px;
    }
    
    #home{
        top: 83px; 
        right: 50px; 
        width:60px;
    }
    
    #menue img{
        top: 70px; 
        width:75px;
    }



    @media screen and (max-width:600px){
        
    .Leiste1 #box1 {
        height: 20px;
    }
    
    
    .navigatorrechts a{
        font-size: 10px; 
    }

    .navigatorrechts {
        top: 0px;
    }
    
    
    .navigatorlinks p{
        font-size: 10px; 
        margin-top: 0px;
    }
    
    .Leiste{
        display:flexbox;
    }
    
    .Leiste1 + .Leiste>#box {
        height: 90px;
    }
    
    #logo{
        top: 10px;
        width: 150px;
    }
    
    
    img[alt=Warenkorb]{
        top: 60px; 
        right: 75px; 
        width:40px;
    }
    
    
    #home{
        position: absolute;
        top: 62px; 
        right:40px; 
        width:45px;
    }
    
    
    #menue img{
        position: absolute;
        top: 52px; 
        right: 0px; 
        width:57px;
    }
    
    .inhalt{
        width: 100px;
    }

    h1{
        font-size:22px;
    }
    }
}